<section class="content-header">
    <h1>
        Novo Usu치rio
        <small>Adicione um usu치rio</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class=""><%= link_to 'Usu치rios', users_path %></li>
        <li class="active"><%= link_to 'Novo Usu치rio', new_user_path %></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body pad">
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
</section>
